
.btn2_container{
    height: 100%;
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
}

.btn2_container > button{
    border: 1px solid black;
}

