


.col{
    width: 100%;
    height: 14.3%;
    display: flex;
    flex-direction: col;
    /* border: 1px solid black; */
    /* background-color: aqua; */
}

.head{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: linear-gradient(rgba(115, 239, 87, 0.574), rgba(46, 115, 40, 0.99) ) ;
    
}


.row{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background: linear-gradient(to top, rgba(222, 229, 239, 0.844), rgba(96, 106, 95, 0.582) ) ;
}

.selected{
    background-color: rgba(213, 84, 84, 0.793);
}