


.col{
    width: 100%;
    height: 14.3%;
    display: flex;
    flex-direction: col;
    /* border: 1px solid black; */
    /* background-color: aqua; */
}

.head{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: black;
    color:red;
    
}


.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    color: green;
    background: black;
}



.pre, .post{
    /* background-color: gray; */
    color: grey;
}



.contains{
    background-color: green;
    border: 1px solid green;
    color: lightgreen;
}

.selected{
    background-color: grey;
    /* border: 1px solid red; */
    outline: 1px solid lightgray;
}