


.col{
    width: 100%;
    height: 14.3%;
    display: flex;
    flex-direction: col;
    /* border: 1px solid black; */
    /* background-color: aqua; */
}

.head{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: black;
    color:red;
    
}


.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    color: green;
    background: black;
}



.pre, .post{
    /* background-color: gray; */
    color: grey;
    background-color: rgb(31, 31, 31);
    border:0;
}



.contains{
    background-color: rgb(2, 92, 2);
    border: 1px solid rgb(2, 92, 2);
    color: lightgreen;
    border:0;
}

.prepostcontain{
    /* background-color: gray; */
    background-color: rgb(63, 77, 63);
    border: 1px solid rgb(63, 77, 63);
    color: lightgreen;
    border:0;
}






.actual{
    background-color: red;
    border:0;
}

.selected{
    background-color: grey;
    /* border: 1px solid red; */
    /* outline: 1px solid lightgray; */
    border:0;
}